/*Sticky footer styles*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*:before *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Lora', serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #E5B8E5;
  background: linear-gradient(#E5B8E5, #FFCDFF);
  border-top: 1px solid #e7e7e7;
  font-size: 12pt;
}

/*Sticky header styles*/
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  color: #000000;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.left-align {
  text-align: left;
}

code {
  font-size: 80%;
}

.fancy {
  font-family: 'Tangerine', cursive;
}
.lg {
  font-size: 28pt;
}
.md {
  font-size: 22pt;
}
.center {
  text-align: center;
}
.page-header h1 {
  font-size: 18pt;
  margin-top: -35px;
}
.main-name {
  display: block;
  margin-top: -10px;
}
.purple-gradient {
  background-color: #E5B8E5;
  background: linear-gradient(#E5B8E5, #FFCDFF);
}
.mt-adams-bg {
  background-image: url(../images/topofadams.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.full-width {
  padding: 0;
  margin-top: 10px;
}
.side-margins {
  padding: 0 15px 0 15px;
}

/*circle image badges*/
.circle-badge-sm {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background-image: url(../images/vancouverBadgeSM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.badge-row {
  margin: 20px 0 20px 0;
  font-family: 'Tangerine', cursive;
}
.badge-row a {
  text-decoration: none;
}
/*.badge-row a:hover {
  color: inherit;
}*/
.circle-badge-crested-lg {
  text-align: center;
  vertical-align: middle;
/*  width: 200px;
  height: 200px;*/
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 22pt;
  margin: 5px auto;
  display: block;
  padding: 15px 0 15px 0;
  background-color: #423542;
  color: #ffffff;
}
.circle-badge-crested-lg:hover {
  color: #ffffff;
}
.circle-badge-timberline-lg {
  text-align: center;
  vertical-align: middle;
/*  width: 200px;
  height: 200px;*/
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 22pt;
  margin: 5px auto;
  background-color: #826882;
  color: #cccccc;
  padding: 15px 0 15px 0;
  display: block;
}
.circle-badge-timberline-lg:hover {
  color: #cccccc;
}
.circle-badge-wallowas-lg {
  text-align: center;
  vertical-align: middle;
/*  width: 200px;
  height: 200px;*/
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 22pt;
  margin: 5px auto;
  display: block;
  padding: 15px 0 15px 0;
  background-color: #CFBACE;
  color: #000000;
}
.circle-badge-wallowas-lg:hover {
  color: #000000;
}
.circle-badge-adams-lg {
  text-align: center;
  vertical-align: middle;
/*  width: 200px;
  height: 200px;*/
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 22pt;
  margin: 5px auto;
  display: block;
  color: #cccccc;
  padding: 15px 0 15px 0;
  background-color: #826882;
}
.sub-circle-text {
  text-align: center;
  padding: 15px 0 15px 0;
  font-family: 'Tangerine', cursive;
  font-size: 22pt;
  font-weight: bold;
  line-height: 100%;
}
.main-fifty {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.main-fifty h3 {
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  color: #000000;
}
#contact {
}
#contact-form {
}
#contact-thanks {
  display: none;
  padding: 20px;
}
#hide-small {
  display: none;
}
#contact input[type=text] {
  padding: 5px;
  margin: 10px auto 10px auto;
  width: 80%;
  display: block;
}
#contact input[type=email] {
  padding: 5px;
  margin: 10px auto 5px auto;
  width: 80%;
  display: block;
}
#contact textarea {
  margin: 0;
  padding: 5px;
  margin: 10px auto 10px auto;
  border: 1px solid #cccccc;
  width: 80%;
  height: auto;
  border-radius: 3px;
  display: block;
}
.float-left {
  float: left;
}
.pointer {
  cursor: pointer;
}

/*comment form styling*/
#comment input[type=text] {
  width: 95%;
  display: block;
  margin: 3px auto 3px auto;
  padding: 3px;
  text-align: center;
}
#comment input[type=email] {
  width: 95%;
  display: block;
  margin: 3px auto 3px auto;
  padding: 3px;
  text-align: center;
}
#comment input[type=submit] {
  margin-bottom: 10px;
  margin-top: 10px;
}
#comment textarea {
  width: 95%;
  display: block;
  margin: 3px auto 3px auto;
  padding: 3px;
  text-align: center;
}
.comment-wrapper {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
}
.comment-text {
  text-align: left;
  font-size: 14pt;
}
.comment-author {
  font-style: italic;
  text-align: right;
  font-size: 10pt;
  margin-top: 5px;
  color: #666666;
}
.existing-comments {
  width: 100%;
}
#comment-thanks {
  display: none;
  font-size: 26pt;
}
#comment-thanks img {
  display: none;
}
.rsvp-photos img {
  display: inline-block;
  width: 20%;
  border-radius: 5px;
}
.form-submitted-msg {
  display: none;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-size: 12pt;
  margin: 10px auto 20px auto;
}
.form-submitted-msg h3 {
  margin-top: 0;
}
.form-center {
  border-radius: 3px;
  border: 1px solid #bce8f1;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 12pt;
  margin: 20px auto 20px auto;
  background-color: #d9edf7;
}
.form-center input[type=text] {
  width: 98%;
  display: block;
  margin: 1px auto 20px auto;
  padding: 5px;
}
.form-center input[type=email] {
  width: 98%;
  display: block;
  margin: 1px auto 20px auto;
  padding: 5px;
}
.form-center input[type=radio] {
  margin: 1px auto 20px auto;
  padding: 5px;
}
.form-center select {
  margin: 1px auto 20px auto;
  padding: 5px;
}
.form-center textarea {
  width: 98%;
  display: block;
  margin: 1px auto 20px auto;
  padding: 3px;
}
#yes-response, #no-response {
  display: none;
}
.positive, .negative {
  font-size: 16pt;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}
.positive {
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}
.negative {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 10px 0 10px 0;
}
.neg-image {
  text-align: center;
  margin: 10px 0 10px 0;
}
.neg-image img {
   border-radius: 5px;
   width: 150px;
}
.skip {
  display: none;
}
/*parallax scrolling page*/
.parallax-container {
  margin-top: 60px;
}
.parallax-caption {
  background-color: #ffffff;
  font-size: 18pt;
  text-align: center;
  padding: 10px;
}
.trans-white {
  background-color: rgba(255,255,255,0.8);
}
.parallax-caption-sub {
  font-size: 10pt;
}
.timberline {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/timberlineMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
  -webkit-background-size: cover;
}
.wallowas {
  width: 100%;
  height: 100vh;
  background-image: url(../images//parallax/wallowas01Mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.wallowas-summit {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images//parallax/wallowassummitMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.mtadams {
  width: 100%;
  height: 100vh;
  background-image: url(../images/parallax/adamsrestingMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.shadow {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/thebuswithshadowMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.pcg {
  width: 100%;
  height: 100vh;
  background-image: url(../images/parallax/pcgMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.maine-lobster {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/joeashmaineMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.vancouver {
  width: 100%;
  height: 100vh;
  background-image: url(../images/parallax/vancouverMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.crested-butte {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/crestedbutteMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.trail-falls {
  width: 100%;
  height: 100vh;
  background-image: url(../images/parallax/trailfallsMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.pacific-city {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/pacificcityMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.cascade-sunset {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/cascadesunsetMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}
.ashinatree {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
  background-image: url(../images/parallax/ashinatreeMobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 1em #111;
}

/*Eliminate parallax scrolling on mobile (doesn't really work)*/
@media only screen
and (min-device-width : 300px)
and (max-device-width : 600px) {
  .timberline, .wallowas, .wallowas-summit, .mtadams, .shadow, .pcg, .maine-lobster, .vancouver, .crested-butte, .trail-falls, .pacific-city, .cascade-sunset, .ashinatree {
    height: 350px;
    background-size: cover;
    background-attachment: scroll;
  }
  .parallax-caption {
    background-color: rgba(255,255,255,0.8);
    font-size: 14pt;
    padding: 3px;
  }
  .navbar-brand {
    font-size: 18pt;
  }
  img {
    max-width: 100%;
  }
}
@media only screen
and (min-device-width : 601px)
and (max-device-width : 1024px) {
  .timberline, .wallowas, .wallowas-summit, .mtadams, .shadow, .pcg, .maine-lobster, .vancouver, .crested-butte, .trail-falls, .pacific-city, .cascade-sunset, .ashinatree {
    height: 500px;
    background-size: cover;
    background-attachment: scroll;
  }
  .parallax-caption {
    background-color: rgba(255,255,255,0.8);
    padding: 3px;
  }
  .navbar-brand {
    font-size: 18pt;
  }
}
#backToTop {
  display: none;
}

/*Full size- laptops/desktops*/
@media (min-width: 768px) {
  .nav-right {
    float: right;
  }
  .lg {
    font-size: 45pt;
  }
  .md {
    font-size: 26pt;
  }
  .page-header h1 {
    font-size: 22pt;
    margin-top: -15px;
  }
  .full-width {
    padding: 0;
    margin-top: 30px;
  }
  .vertshrink {
    margin-top: -20px;
    margin-bottom: -5px;
  }
  .main-name {
    display: inline-block;
    padding: 0 10px 0 10px;
  }
  .badge-row {
    width: 100%;
    min-width: 100%;
    font-family: 'Lora', serif;
  }
  .badge-row a {
    text-decoration: none;
    color: #000000;
  }
  .circle-badge-crested-lg {
    width: 30%;
    height: 225px;
    font-size: 22pt;
    line-height: 100%;
    color: #000000;
    display: inline-block;
    background-image: url(../images/crestedbutteHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-shadow: 0 0 2px #ffffff;
    transition: all 0.3s ease;
  }
  .circle-badge-crested-lg:hover {
    font-size: 32pt;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
  }
  .circle-badge-timberline-lg {
    width: 30%;
    height: 225px;
    font-size: 22pt;
    line-height: 100%;
    color: #000000;
    display: inline-block;
    background-image: url(../images/timberlineHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 2px #ffffff;
    transition: all 0.3s ease;
  }
  .circle-badge-timberline-lg:hover {
    font-size: 32pt;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
  }
  .circle-badge-wallowas-lg {
    width: 30%;
    height: 225px;
    font-size: 22pt;
    line-height: 100%;
    display: inline-block;
    background-image: url(../images/wallowas01Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    background-position: center center;
    text-shadow: 0 0 2px #ffffff;
    transition: all 0.3s ease;
  }
  .circle-badge-wallowas-lg:hover {
    font-size: 32pt;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
  }
  .circle-badge-adams-lg {
    width: 33%;
    height: 225px;
    font-size: 22pt;
    line-height: 100%;
    color: #000000;
    display: inline-block;
    background-image: url(../images/adamsBadgeLG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 2px #ffffff;
    transition: all 0.3s ease;
  }
  .circle-badge-adams-lg:hover {
    font-size: 32pt;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
  }
  .sub-circle-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 26pt;
    width: 100%;
    color: #000000;
    background-color: rgba(255,255,255,0.4);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .flower {
    background-color: #ffffff;
    background-image: url(../images/floralltblue.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
  }
  .sub-circle-text:hover {
    background-color: #C9D787;
    opacity: 0.8;
  }
  .main-fifty {
    width: 47%;
    max-width: 47%;
    display: inline-block;
    vertical-align: top;
  }
  .main-clear {
    display: inline-block;
    width: 5%;
    min-width: 5%;
  }
  .main-row {
    width: 100%;
  }
  #contact {
    width: 95%;
    margin: 0px auto;
    text-align: center;
  }
  #hide-small {
    display: block;
    width: 65%;
    border-radius: 5px;
    margin: 10px auto 10px;
  }
  #contact input[type=text] {
    display: inline-block;
    text-align: center;
    width: 45%
  }
  #contact input[type=email] {
    display: inline-block;
    text-align: center;
    width: 45%;
  }
  #contact textarea {
    text-align: left;
    margin: 5px auto 10px auto;
    width: 90%;
    height: 200px;
  }
  .existing-comments {
    width: 75%;
  }
  .add-comment {
    width: 25%;
    float: right;
  }
  #comment-thanks {
    display: none;
    font-size: 22pt;
  }
  #comment-thanks img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 15px auto 15px auto;
  }
  #joe-title, #ash-title, #and-title, #request-text, #badge-row, #final-fade {
    opacity: 0.0;
  }
  .form-center {
    border-radius: 3px;
    border: 1px solid #bce8f1;
    padding: 15px;
    width: 50%;
    text-align: left;
    font-size: 12pt;
    margin: 20px auto 20px auto;
    background-color: #d9edf7;
  }
  .form-center input[type=text] {
    width: 98%;
    display: block;
    margin: 1px auto 20px auto;
    padding: 5px;
  }
  .form-center input[type=email] {
    width: 98%;
    display: block;
    margin: 1px auto 20px auto;
    padding: 5px;
  }
  .form-center input[type=radio] {
    margin: 1px auto 20px auto;
    padding: 5px;
  }
  .form-center select {
    margin: 1px auto 20px auto;
    padding: 5px;
  }
  .form-center textarea {
    width: 98%;
    display: block;
    margin: 1px auto 20px auto;
    padding: 3px;
  }
  /*comment form styling*/
  #comment input[type=text] {
    margin: 5px auto 5px auto;
  }
  #comment input[type=email] {
    margin: 5px auto 5px auto;
  }
  #comment textarea {
    margin: 5px auto 5px auto;
  }
  .comment-wrapper {
    width: 95%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 25px;
  }
  .neg-image img {
     width: 300px;
  }
  .skip {
    right: 0;
    top: 75;
    margin-right: 15px;
    position: absolute;
    display: inline-block;
    background-color: #cccccc;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .skip:hover {
    background-color: #a9a9a9;
  }
  /*parallax scrolling page*/
  .parallax-container {
    margin-top: 50px;
  }
  .parallax-caption {
    font-size: 26pt;
    padding: 20px;
  }
  .parallax-caption-sub {
    font-size: 12pt;
  }
  .timberline {
    background-image: url(../images/parallax/timberline.jpg);
    background-size: contain;
  }
  .wallowas {
    background-image: url(../images//parallax/wallowas01.jpg);
    background-size: contain;
  }
  .wallowas-summit {
    background-image: url(../images//parallax/wallowassummit.jpg);
    background-size: contain;
  }
  .mtadams {
    background-image: url(../images/parallax/adamsresting.jpg);
    background-size: contain;
  }
  .shadow {
    background-image: url(../images/parallax/thebuswithshadow.jpg);
    background-size: contain;
  }
  .pcg {
    background-image: url(../images/parallax/pcg.jpg);
    background-size: contain;
  }
  .maine-lobster {
    background-image: url(../images/parallax/joeashmaine.jpg);
    background-size: contain;
  }
  .vancouver {
    background-image: url(../images/parallax/vancouver.jpg);
    background-size: contain;
  }
  .crested-butte {
    background-image: url(../images/parallax/crestedbutte.jpg);
    background-size: contain;
  }
  .trail-falls {
    background-image: url(../images/parallax/trailfalls.jpg);
    background-size: contain;
  }
  .pacific-city {
    background-image: url(../images/parallax/pacificcity.jpg);
    background-size: contain;
  }
  .cascade-sunset {
    background-image: url(../images/parallax/cascadesunset.jpg);
    background-size: contain;
  }
  .ashinatree {
    background-image: url(../images/parallax/ashinatree.jpg);
    background-size: contain;
  }
  #backToTop {
    display: block;
    float: right;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15pt;
    background-color: #000000;
    color: #ffffff;
    margin: 10px 25px 0 0;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  #backToTop:hover {
    background-color: #cccccc;
    color: #000000;
  }
}

/*form validations*/
.input-confirm {
  position: relative;
  overflow: hidden;
}
.input-confirm label, .input-confirm input {
  position: absolute;
  left: -150%;
}